<ul class="tweets">
  <% @feed_items.each do |feed_item| %>
    <li id="<%= feed_item.id %>" class="feed-item well">
      <div class="user"><%= link_to feed_item.user.email, feed_item.user %></div>
      <div class="content well"><%= feed_item.content %></div>
    </li>
  <% end %>
</ul>
