<div class="panel panel-info tweet-form-container">
  <div class="panel-heading">
    <h3 class="panel-title">What's happening?</h3>
  </div>
  <div class="panel-body">
    <div class="well">
      <%= render 'tweet_form' %>
    </div>
  </div>
</div>
<div class="panel panel-info feed-container">
  <div class="panel-heading">
    <h3 class="panel-title">Tweets</h3>
  </div>
  <div class="panel-body">
    <div class="well">
      <%= render 'feed' %>
    </div>
  </div>
</div>
