<div>
  <div>User Email: <%= @user.email %></div>
</div>
  
<section>
  <%= render 'shared/stats' %>
</section>

<%= render 'follow_form' if signed_in? %>

<div>
  <h4>Tweets by the User</h4>
  <% if @tweets.any? %>
    <ul class="tweets">
      <% @tweets.each do |tweet| %>
        <li class="tweet">
          <%= tweet.content %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
