// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form.tweet-form {
  #error_explanation ul li{
    color:red;
  }

  .input-text-area{
    resize: none;
  }

  .actions{
    text-align: right;

    .tweet-btn{
      margin: 10px;
    }
  }
}

.feed-container{
  .feed-item{
    list-style-type: none;
    background-color: white;
  }
}
